src/main/resources/xsd/algorythm-article.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.algorythm.de/cms/Article"
	xmlns:m="http://www.algorythm.de/cms/Markup"
	elementFormDefault="qualified">
	<xs:import namespace="http://www.algorythm.de/cms/Markup" schemaLocation="algorythm-markup.xsd"/>
	<xs:element name="article">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="title" type="xs:string" minOccurs="0" />
				<xs:element name="content" type="m:Markup" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>