src/main/resources/de/algorythm/cms/common/international/types/de.algorythm.cms.common/Types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:c="http://cms.algorythm.de/common/CMS"
	targetNamespace="http://cms.algorythm.de/common/CMS"
	elementFormDefault="qualified">
	
	<complexType name="Markup" mixed="true">
		<choice minOccurs="0" maxOccurs="unbounded">
			<any />
		</choice>
	</complexType>
	
	<element name="p" type="c:Markup" />
	<element name="b" type="c:Markup" />
	<element name="i" type="c:Markup" />
	<element name="u" type="c:Markup" />
	<element name="ul">
		<complexType>
			<sequence minOccurs="0" maxOccurs="unbounded">
				<element name="li" type="c:Markup" />
			</sequence>
		</complexType>
	</element>
</schema>