src/main/resources/de/algorythm/cms/common/types/de.algorythm.cms.common/Navigation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:c="http://cms.algorythm.de/common/CMS"
	targetNamespace="http://cms.algorythm.de/common/CMS"
	elementFormDefault="qualified">
	<include schemaLocation="Types.xsd" />

	<element name="nav">
		<complexType>
			<attribute name="parent" type="anyURI" default="." />
			<attribute name="depth" type="nonNegativeInteger" default="1" />
		</complexType>
	</element>
</schema>